# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    environment: RaffAWS
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: ayltai/setup-graalvm@v1
      with:
        java-version: 11
        graalvm-version: 21.1.0
        native-image: true
    - name: Build with Maven
      run: ./mvnw -B package -DskipTests=true
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.SECRET_KEY }}
        aws-region: eu-west-1
    - name: Setup Terraform
      env:
        GOTF_VERSION: 0.13.0
      run: |
        wget --no-verbose https://github.com/craftypath/gotf/releases/download/v${GOTF_VERSION}/gotf_${GOTF_VERSION}_linux_amd64.tar.gz
        tar -xf gotf_${GOTF_VERSION}_linux_amd64.tar.gz
        chmod u+x gotf
        mkdir -p ~/.terraform.d
        echo "${{ secrets.TFRC_CREDENTIALS_FILE }}" | base64 -d > ~/.terraform.d/credentials.tfrc.json
    - name: Terraform
      env:
        TF_VAR_astra_client_token: ${{ secrets.ASTRA_ADMIN_CLIENT_TOKEN }}
        TF_VAR_astra_db_client_id: ${{ secrets.ASTRA_DB_CLIENT_ID }}
        TF_VAR_astra_db_client_secret: ${{ secrets.ASTRA_DB_CLIENT_SECRET }}
        TF_VAR_astra_db_client_token: ${{ secrets.ASTRA_DB_CLIENT_TOKEN }}
        TF_VAR_aws_profile: default
      run: |
        ./gotf -m tf init
        ./gotf -m tf apply --auto-approve
        
